html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

body {
  text-align: center;
}

header.top {
  position: fixed;
  display: inline-block;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 250px;
  background-color: #a5def1;
  -webkit-transition: height 1s;
  transition: height 1s;
  z-index: 999;
}
header.top + * {
  margin-top: 250px;
}
header.top img {
  position: absolute;
  display: inline-block;
  margin-left: -90px;
  left: 50%;
  bottom: 0px;
  width: 180px;
  height: 160px;
}

.description {
  display: inline-block;
  padding: 100px 0px;
  width: 100%;
}
.description .container {
  display: inline-block;
  max-width: 500px;
  padding: 0px 15px;
}
.description .container > * {
  font-family: Microsoft JhengHei, monospace;
}
.description .container h2 {
  font-size: 35px;
}
.description .container .intro {
  padding: 20px 0px;
  font-size: 23px;
  text-align: left;
  line-height: 25px;
}

.profile {
  display: inline-block;
  padding: 100px 0px;
  width: 100%;
  background-color: #2c3e50;
}
.profile .container {
  display: inline-block;
  max-width: 700px;
  padding: 0px 15px;
}
.profile .container img {
  float: left;
  display: inline-block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.profile .container .intro {
  font-family: Microsoft JhengHei, monospace;
  float: left;
  display: inline-block;
  width: calc(100% - 240px);
  padding: 0px 20px;
  text-align: left;
  font-size: 22px;
  color: white;
  line-height: 28px;
}
.profile .container .intro h2 {
  font-size: 25px;
}
@media all and (min-width: 0px) and (max-width: 425px) {
  .profile .container img {
    width: 130px;
    height: 130px;
  }
  .profile .container .intro {
    width: calc(100% - 170px);
    font-size: 15px;
  }
}
@media all and (min-width: 425px) and (max-width: 525px) {
  .profile .container img {
    width: 150px;
    height: 150px;
  }
  .profile .container .intro {
    width: calc(100% - 190px);
    font-size: 18px;
  }
}

.interests {
  display: inline-block;
  padding: 100px 0px;
  width: 100%;
}
.interests h2 {
  padding: 20px 0px;
  font-size: 35px;
  font-family: Microsoft JhengHei, monospace;
}
.interests .container {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  max-width: 800px;
  width: calc(100% - 20px);
  height: 800px;
  padding: 0px 10px;
  font-family: Microsoft JhengHei, monospace;
  text-align: left;
}
.interests .container > div {
  position: relative;
  display: inline-flex;
  width: calc((100% - 30px)/3);
  height: 360px;
  margin: 5px;
  cursor: pointer;
}
.interests .container > div .content {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: calc(100% - 20px);
  padding: 10px 10px;
  height: 0;
  background-color: #2c3e50;
  color: white;
  font-size: 18px;
  line-height: 25px;
  border-radius: 5px;
  display: none;
}
.interests .container > div:hover .content {
  height: calc(100% - 20px);
  opacity: 0.6;
  display: inherit;
}
.interests .container > div img {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.interests .container > div:nth-child(6n+1) {
  height: 300px;
}
.interests .container > div:nth-child(6n+5) {
  height: 250px;
}
.interests .container > div:nth-child(6n+6) {
  height: 480px;
}
@media all and (min-width: 0px) and (max-width: 470px) {
  .interests .container {
    height: 2200px;
  }
  .interests .container > div {
    display: inline-flex;
    width: calc(100% - 10px);
    height: 350px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
  }
  .interests .container > div:nth-child(n+1) {
    height: 350px;
  }
}
@media all and (min-width: 470px) and (max-width: 700px) {
  .interests .container {
    height: 1200px;
  }
  .interests .container > div {
    display: inline-flex;
    width: calc((100% - 20px)/2);
    height: 360px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
  }
  .interests .container > div:nth-child(6n+3) {
    height: 300px;
  }
  .interests .container > div:nth-child(6n+5) {
    height: 250px;
  }
  .interests .container > div:nth-child(6n+6) {
    height: 400px;
  }
}

.experience {
  display: inline-block;
  padding: 30px 0px 130px 0px;
  width: 100%;
}
.experience h2 {
  padding: 20px 0px;
  font-size: 35px;
  font-family: Microsoft JhengHei, monospace;
}
.experience .container {
  display: inline-block;
  padding: 0px;
  width: calc(100% - 20px);
  padding: 0px 10px;
}
.experience .container ul {
  display: inline-block;
}
.experience .container ul > li {
  text-align: left;
  font-size: 20px;
  font-family: Microsoft JhengHei, monospace;
  line-height: 27px;
}

.projects {
  display: inline-block;
  padding: 110px 0px 50px 0px;
  width: 100%;
  background-color: #2c3e50;
}
.projects h2 {
  color: white;
  padding: 20px 0px;
  font-size: 35px;
  font-family: Microsoft JhengHei, monospace;
}
.projects header {
  display: inline-block;
  max-width: 700px;
  width: 100%;
}
.projects header a {
  float: left;
  display: inline-block;
  font-family: Microsoft JhengHei, monospace;
  font-size: 25px;
  text-decoration: none;
  color: white;
  width: calc(100%/3);
  height: 100%;
  background-color: #7ec0e4;
  padding: 25px 0px;
  cursor: pointer;
}
@media all and (min-width: 0px) and (max-width: 420px) {
  .projects header a {
    font-size: 27px;
  }
}
@media all and (min-width: 420px) and (max-width: 605px) {
  .projects header a {
    font-size: 20px;
  }
}
.projects .container {
  display: inline-block;
  padding: 0px;
  max-width: 680px;
  width: calc(100% - 20px);
  height: 400px;
  padding: 0px 10px;
  background-color: #2c3e50;
  font-family: Microsoft JhengHei, monospace;
}
.projects .container > .project {
  position: relative;
  display: none;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  padding: 20px 20px;
  background-color: white;
  text-align: left;
}
.projects .container > .project > * {
  float: left;
  font-size: 16px;
  line-height: 19px;
  text-align: left;
}
.projects .container > .project .arrow-up {
  position: absolute;
  left: calc((100%/3)/2 - 10px);
  top: -10px;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 10px solid white;
}
.projects .container .current {
  display: inherit;
}
@media all and (min-width: 0px) and (max-width: 410px) {
  .projects .container {
    height: 480px;
  }
}
@media all and (min-width: 410px) and (max-width: 450px) {
  .projects .container {
    height: 450px;
  }
}
.projects .container .links {
  display: inline-block;
  width: 100%;
  padding-top: 50px;
}
.projects .container .links a {
  display: inline-block;
}
.projects .container .links a img {
  display: inline-block;
  width: 30px;
  height: 30px;
}
